body {
  margin: 0;
}

.jDMCps {
  border: 1px solid #f57c00 !important;
}

.bQNUoG circle {
  fill: #f57c00 !important;
}

.dWqQKL circle {
  fill: #f57c00 !important;
}
.kyumrk :enabled:focus-within {
  border-color: #f57c00 !important;
}
.dDBZvY {
  color: white !important;
}
.bArmXs {
  color: #f57c00 !important;
}

.bArmXs span {
  color: white !important;
}

.eNIXbn :enabled:focus-within {
  border: 1px solid #f57c00 !important;
}

.TokenOptions__OnHover-sc-xx1k3q-2 {
  display: none !important;
}
